
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.98 0.00 247.86);
    --foreground: oklch(0.28 0.04 260.03);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.28 0.04 260.03);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.28 0.04 260.03);
    --primary: oklch(0.59 0.20 277.12);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.93 0.01 264.53);
    --secondary-foreground: oklch(0.37 0.03 259.73);
    --muted: oklch(0.97 0.01 286.15);
    --muted-foreground: oklch(0.29 0.19 264.94);
    --accent: oklch(0.93 0.03 272.79);
    --accent-foreground: oklch(0.37 0.03 259.73);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.87 0.01 261.79);
    --input: oklch(0.87 0.01 261.79);
    --ring: oklch(0.59 0.20 277.12);
    --chart-1: oklch(0.59 0.20 277.12);
    --chart-2: oklch(0.51 0.23 276.97);
    --chart-3: oklch(0.46 0.21 277.02);
    --chart-4: oklch(0.40 0.18 277.37);
    --chart-5: oklch(0.36 0.14 278.70);
    --sidebar: oklch(0.28 0.04 260.03);
    --sidebar-foreground: oklch(0.93 0.01 255.51);
    --sidebar-primary: oklch(0.59 0.20 277.12);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.26 0.03 265.35);
    --sidebar-accent-foreground: oklch(1.00 0 0);
    --sidebar-border: oklch(0.87 0.01 258.34);
    --sidebar-ring: oklch(0.59 0.20 277.12);
    --font-sans: Geist, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 2px 4px -2px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 4px 6px -2px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 8px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.13);
  }

  .dark {
    --background: oklch(0.21 0.04 265.75);
    --foreground: oklch(0.93 0.01 255.51);
    --card: oklch(0.28 0.04 260.03);
    --card-foreground: oklch(0.93 0.01 255.51);
    --popover: oklch(0.28 0.04 260.03);
    --popover-foreground: oklch(0.93 0.01 255.51);
    --primary: oklch(0.68 0.16 276.93);
    --primary-foreground: oklch(0.21 0.04 265.75);
    --secondary: oklch(0.34 0.03 260.91);
    --secondary-foreground: oklch(0.87 0.01 258.34);
    --muted: oklch(0.28 0.04 260.03);
    --muted-foreground: oklch(0.71 0.02 261.32);
    --accent: oklch(0.37 0.03 259.73);
    --accent-foreground: oklch(0.87 0.01 258.34);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(0.21 0.04 265.75);
    --border: oklch(0.45 0.03 256.80);
    --input: oklch(0.45 0.03 256.80);
    --ring: oklch(0.68 0.16 276.93);
    --chart-1: oklch(0.68 0.16 276.93);
    --chart-2: oklch(0.59 0.20 277.12);
    --chart-3: oklch(0.51 0.23 276.97);
    --chart-4: oklch(0.46 0.21 277.02);
    --chart-5: oklch(0.40 0.18 277.37);
    --sidebar: oklch(0.28 0.04 260.03);
    --sidebar-foreground: oklch(0.93 0.01 255.51);
    --sidebar-primary: oklch(0.68 0.16 276.93);
    --sidebar-primary-foreground: oklch(0.21 0.04 265.75);
    --sidebar-accent: oklch(0.37 0.03 259.73);
    --sidebar-accent-foreground: oklch(0.87 0.01 258.34);
    --sidebar-border: oklch(0.45 0.03 256.80);
    --sidebar-ring: oklch(0.68 0.16 276.93);
    --font-sans: Geist, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 2px 4px -2px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 4px 6px -2px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.05), 0px 8px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 7.5px -1px hsl(0 0% 0% / 0.13);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  @apply bg-gradient-to-r from-purple-600 to-purple-400 bg-clip-text text-transparent;
}

.gradient-border {
  @apply border border-transparent bg-white;
  position: relative;
  background-clip: padding-box;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #9b87f5, #6d28d9);
  z-index: -1;
}
